<h1><%= "Hello #{current_user.email}" %></h1>
<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
<%= link_to 'Edit Profile', edit_user_registration_path %>
<%= link_to 'Create Item', new_item_path %>

<table>
	<th>
		<tr>
			<td>Name</td>
			<td>User</td>
		</tr>
	</th>
		<% @items.each do |item| %>
			<tr>
				<td><%= item.name %></td>
				<td><%= link_to "View", item %></td>
				<td><%= link_to "Edit", edit_item_path(item) %></td>
			</tr>
		<% end %>
	<% end %>
</table>

