<h1> Add Item </h1>

<%= form_for @item do |f| %>
	
	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :description %>
		<%= f.text_area :description %>
	</p>

	<p>
		<%= f.label :itempic, "Item Picture" %>
		<%= f.file_field :itempic %>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>